@import "src/assets/style/variables";

.challenge-page{

  padding: 0 0 84px 0;

  &__active{
    margin: 0 0 40px 0;
  }

  &__title{
    margin: 0 0 40px 0;
  }

  &__title-block{
    margin: 0 0 40px 0;
  }
}