@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/FontsFree-Net-SFProDisplay-Regular.eot');
  src: local('☺'), url('../fonts/FontsFree-Net-SFProDisplay-Regular.woff') format('woff'), url('../fonts/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype'), url('../fonts/FontsFree-Net-SFProDisplay-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

