@import "src/assets/style/variables";

.motivation-page{
  &__card{
    margin: 0 0 27px 0;
  }

  &__hr{
    padding: 0 16px;
    margin: 0 -16px 20px -16px;
    height: 1px;
    background: #202020;;
  }

}