@import "src/assets/style/variables";

.leader-challenge{

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
  &__title{
    font-weight: 400;
    font-size: 15px;

    color: #6B6B6B;
  }
}
.item-leader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child){
    margin: 0 0 20px 0;
  }

  &__column{
    display: flex;
    align-items: center;
  }
  &__column_1{
   gap: 12px;
  }
  &__column_2{
    gap: 8px;
  }
  &__place{
    flex: 0 0 17px;
    padding: 3px 7px 2px 6px;
    border-radius: 50%;
    text-align: center;
    &_1{
      background: #B48C00;
    }
    &_2{
      background: #919191;
    }
    &_3{
      background: #8C4606;
    }
  }
  &__avatar{
    flex: 0 0 37px;
    height: 37px;
    border-radius: 5px;
    background: #c4c4c4;
    &_member{
      border-radius: 50%;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__title{
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 13px;

    white-space: nowrap;
    &_yourCommand{
      color: #F2994A;
    }
  }
  &__your-command{
    margin-top: 6px;
    white-space: nowrap;
    font-size: 15px;

    color: #6B6B6B;
  }
  &__icon{
    height: 13px;
    flex: 0 0 13px;
  }
  &__reward{
    font-size: 17px;
    color: #F5F5F5;

  }
}