.tabs {
  overflow: hidden;
  display: flex;
  margin: 0 -7px -14px;
  flex-wrap: wrap;

  &__content{
  }

  &__links {
    flex: 0 1 33.333%;
    margin: 0 0 14px 0;
    padding: 0 7px;
    text-align: center;

    span{
      border-radius: 5px;
      transition: 0.3s all ease;
      padding: 5px 0;
      letter-spacing: 0.02em;
      background: #2C2C2C;
      color: #7A7A7A;
      font-weight: 500;
      font-size: 13px;
      display: block;
    }

    &.active {
      span{
        background: #3D3C3C;
        color: #fff;
      }
    }

  }
}
