@import "../../assets/style/variables";

.card-challenge {
  background: $backgroundBlock;
  border-radius: 10px;
  color: $colorMain;

  &:not(:last-child) {
    margin: 0 0 16px 0;
  }

  &__container {
    padding: 12px;
    position: relative;
  }

  &__dots {
    display: flex;
    gap: 2px;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &__dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $colorMain;
  }

  &__head {
    display: flex;
    gap: 14px;
    margin: 0 0 23px 0;
  }

  &__head-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    flex: 0 0 82px;
    height: 82px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 17px;

    color: #E1E1E1;
  }

  &__sub-title {
    font-weight: 400;
    font-size: 13px;

    color: #919191;
  }

  &__type {
    font-weight: 400;
    font-size: 13px;

    color: $yellowColor;
  }

  &__type_personal {
    color: $greenColor;
  }

  &__type_command {
    color: $blueColor;
  }

  &__progress-bar {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__days {
    font-weight: 700;
    font-size: 17px;

    color: #8A8989;
    display: flex;
    flex-direction: column;
    row-gap: 7px;

    span {
      font-weight: 400;
      font-size: 10px;
    }
  }
}

//.progress-bar {
//  max-width: 100%;
//  display: flex;
//
//  &__value {
//    color: $colorMain;
//
//    font-size: 13px;
//  }
//}

.new-board {
  &:not(:last-child) {
    margin: 0 0 25px 0;
  }
  display: block;

  &__image {
    position: relative;
    min-height: 239px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      position: relative;
    }

    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      left: 0;
      bottom: 0;
      height: 100px;
      width: 100%;
      background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 0.9) 51.04%, #121212 91.67%);
    }
  }

  &__body {
    display: flex;
    gap: 17px;
    margin: -53px 0 0 0;
    position: relative;
    z-index: 2;
  }

  &__icon {
    flex: 0 0 53px;
    height: 53px;
    background: $yellowColor;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 43px;
      height: 45px;
    }

    &_personal {
      background: $greenColor;
    }

    &_command {
      background: $blueColor;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 17px;

    color: #E1E1E1;
    margin: 0 0 5px 0;
  }

  &__text {
    font-weight: 400;
    font-size: 13px;

    color: #919191;
  }
}

.task-challenge{
  &__title{
    font-weight: 700;
    font-size: 20px;

    color: $colorMain;
    margin: 0 0 20px 0;
  }
  &__body{
    display: flex;
    gap: 9px;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.card-task {
  background: $backgroundBlock;
  flex: 0 0 138px;
  border-radius: 10px;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    flex: 1 1 auto;
    padding: 12px 12px 20px 12px;
    width: 111px;
    font-weight: 700;
    font-size: 13px;

    color: #919191;
    border-bottom: 1px solid #202020;
  }

  &__count {
    font-weight: 700;
    font-size: 17px;

    color: $yellowColor;
    white-space: nowrap;
    padding: 9px 12px;

    &_personal {
      color: $greenColor;
    }

    &_command {
      color: $blueColor;
    }
  }
}

