@import "src/assets/style/variables";
@import "src/assets/style/mixins";

.tracker{
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 16px;
  margin: -16px;
  &__swiper{
    margin: -16px;
    padding: 16px;
  }
  &__body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__icon{
    @include adaptive-value("margin-top", 80, 40, 1);
    margin-bottom: 10px;
  }
  &__sub-text-icon{
    @include adaptive-value("margin-bottom", 80, 30, 1);
  }

  &__title{
    margin: 0 0 23px 0;
    text-align: center;
    &_start{
      @include adaptive-value("margin-top", 291, 120, 1);
    }
  }

  &__text{
    font-size: 17px;
    text-align: center;

    color: #ABABAB;
    max-width: 260px;
    margin: 0 auto;
  }

  &__clocks{
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    gap: 8px;
    font-size: 44px;
    justify-content: center;
  }
  &__clocks-item{
    background: $backgroundBlock;
    font-size: 44px;
    flex: 0 0 104px;
    border-radius: 10px;
  }
  &__recommendation{
    span{
      margin: 0 0 0 7px;
    }
  }

  &__weight{
    margin: 0 auto 30px auto;
    max-width: 224px;
    width: 100%;
  }


  &__button{
    position: absolute;
    bottom: 50px;
    z-index: 2;
    @media (max-height: 612px) {
      bottom: 0;
    }
  }
}