@import "src/assets/style/variables";


.message-text{
  font-size: 15px;
  line-height: 110%;

}
.small-text-comment{
  font-size: 10px;
  line-height: 130%;

  color: #919191;
}
.author-text{
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;

  color: #FBFBFB;
}


.comment-form{
  &__body{
    position: relative;
  }
  &__textarea{
    width: 100%;
    padding: 11px;
    font-size: 15px;
    line-height: 130%;

    color: #C2C1C1;
    resize: none;
    background: #5C5C5C;
    border-radius: 3px;
    &::placeholder{
      color: inherit;
    }
  }
  &__button-submit{
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: #232323;
    border-radius: 3px;
    color: $colorMain;
    padding: 4px 17px;
    font-size: 15px;

  }
}

.list-comments{
  &__items{
    display: flex;
    flex-direction: column;
  }
}


.item-comment{

  &:not(:last-child){
    margin: 0 0 10px 0;
  }

  &__body{
    display: flex;
    gap: 10px;
  }




  &__avatar{
    flex: 0 0 40px;
    height: 40px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__answer{
    //display: flex;
    //flex-direction: column;
  }
}

.item-comment-answer{
  display: flex;
  gap: 9px;
  margin: 10px 0 0 48px;
  &:not(:last-child){
    margin: 0 0 10px 0;
  }
  &__avatar{
    flex: 0 0 26px;
    height: 26px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__author{
    display: flex;
    align-items: center;
    gap: 11px;
  }
  &__data{
    display: flex;
    align-items: center;
    gap: 16px;
    span{
      text-transform: uppercase;
    }
  }
}