@import "src/assets/style/variables";


.creating-title {
  font-weight: 700;
  font-size: 25px;

}

.creating-sub-title {
  font-weight: 500;
  font-size: 13px;

}

.button-end {
  background: #F2994A;
  font-weight: 700;
  font-size: 13px;
  text-align: center;

  color: #252525;
  border-radius: 50px;
  height: 41.5px;
  padding: 0 25px;
}

.targets {

  &__top-block {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #202020;
  }

  &__block {
    padding: 27px 0 0 0;
  }


  &__title {
    margin: 0 0 20px 0;
  }

  &__sub-title {
    margin: 0 0 16px 0;
  }

  &__checkbox {
    gap: 10px;
  }
}

.choice-target {
  &:not(:last-child) {
    margin: 0 0 47px 0;
  }

  &__sub-title {
    display: flex;
    align-items: center;

    img {
      margin: 0 0 0 8px;
      flex: 0 0 17.62px;
      height: 17.62px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }

  &__range {
    height: 5px;
    outline: none;
    border-radius: 16.1461px;
    -webkit-appearance: none;
    width: 100%;


    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $yellowColor;
      cursor: pointer;
      border: 1px solid $colorMain;
    }

    &.green {
      &::-webkit-slider-thumb {
        background: $greenColor;
      }
    }

  }
}

.creating-date {
  &__title {
    margin: 0 0 20px 0;
  }

  &__sub-title {
    margin: 0 0 20px 0;

    span {
      color: $blueColor;
      margin: 0 0 0 10px;
    }
  }

  &__picker {
    max-width: 256px;
    margin: 0 auto 40px auto;
    display: flex;
  }

  &__picker-item {
    flex: 0 0 33.333%;
    padding: 0 10px;
  }
}

.creating-lecture {
  &__title {
    margin: 0 0 40px 0;
  }

  &__sub-title {
    margin: 0 0 20px 0;
  }

  &__input {
    margin: 0 0 20px 0;
  }

  &__buttons {
    max-width: 280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button-download {
    margin: 0 0 40px 0;
  }

  &__select {
    margin: 0 0 45px 0;
  }

}

.type-challenge {

  &__title{
    margin: 0 0 15px 0;
  }

  &__body {
    display: flex;

    input {
      display: none;
    }

    label {
      background: $backgroundBlock;
      border-radius: 5px;
      font-size: 15px;
      text-align: center;
      display: inline-block;

      position: relative;
      padding: 9px 23px;
      margin: 0 20px 0 0;
      color: $greenColor;
      &.command{
        color: $blueColor;
      }

    }

    input:checked + label {
      border: 1px solid $colorMain;
    }
  }
}


.select-platform {

  &__title{
    margin: 0 0 15px 0;
  }
}

.creating-title-challenge{
  &__title{
    margin: 0 0 15px 0;
  }
  &__field{
    margin: 0 0 10px 0;
  }
  &__note{
    color: #919191;
  }
}

.creating-description-challenge{
  &__title{
    margin: 0 0 15px 0;
  }
  &__field{
    margin: 0 0 10px 0;
  }
  &__note{
    color: #919191;
  }
}

.creating-commands-challenge{
  &__title{
    margin: 0 0 15px 0;
  }
  &__select{
    &:not(:last-child){
      margin: 0 0 18px 0;
    }
  }
}


.final-variant{

  &__image{
    width: 100%;
    background: $backgroundBlock;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    border-radius: 10px;
    margin: 0 0 16px 0;
    &-main{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__text{
    font-weight: 400;
    font-size: 13px;

    color: #5D5D5D;
    display: flex;
    align-items: center;
    img{
      margin: 0 6px 0 0;
    }
  }

  &__header{
    display: flex;
    align-items: center;
    margin: 0 0 29px 0;
  }

  &__icon{
    flex: 0 0 66px;
    height: 66px;
    border-radius: 5px;
    background: $backgroundBlock;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 22px 0 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &__type{
    font-size: 13px;

    color: $greenColor;
    &.command{
      color: $blueColor;
    }
    margin: 0 0 10px 0;
    img{
      margin: 0 0 0 5px;
      vertical-align: middle;
    }
  }

  &__title{
    font-weight: 700;
    font-size: 20px;

    img{
      margin: 0 0 0 7px;
      vertical-align: middle;
    }
  }

  &__description{
    margin: 0 0 32px 0;
    font-size: 13px;
    line-height: 130%;

    color: #919191;
    img{
      margin: 0 0 0 6px;
      vertical-align: middle;
    }
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }

  &__data{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;

    color: $greenColor;
    &-clock{
      height: 19px;
      width: 19px;
      margin: 0 5px 0 0;
    }
    &-edit{
      margin: 0 0 0 6px;
    }
  }

  &__reward{
    display: flex;
    align-items: center;

    &-text{
      font-weight: 700;
      font-size: 13px;

      margin: 0 10px 0 0;
    }
    img{
      margin: 0 0 0 5.4px;
    }
  }

  &__tasks{
    margin: 0 0 40px 0;
    display: flex;
    align-items: center;
    overflow: scroll;
    &::-webkit-scrollbar{
      height: 0;
      width: 0;
    }
  }
}

