@import "src/assets/style/variables";


.active-challenge-page{
  //padding: 16px 0 0 0;

  &__main{
    margin: 0 0 36px 0;
  }

  &__title-block{
    margin: 0 0 18px 0;
  }

  &__title-17{
    margin: 0 0 23px 0;
    span{
      color: $yellowColor;
    }
  }

  &__progress{
    padding: 0 16px 20px 16px;
    margin: 0 -16px 21px -16px;
    border-bottom: 1px solid #202020;
  }

  &__button{
    margin: 0 0 40px 0;
  }

  &__tasks{
    margin: 0 0 20px 0;
  }
  &__reward{
    margin: 0 0 40px 0;
    gap: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ds{
  background: transparent;
}

.tasks-active-challenge{
  &__head{
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 0 0 20px 0;
  }
  &__data{
    font-weight: 700;
    font-size: 17px;

    color: #FEFEFE;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}