.team-members {
  &__member {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__name {
    display: flex;
    img {
      width: 37px;
      height: 37px;
      border-radius: 20px;
    }
    div:nth-child(2) {
      margin-top: 9px;
      margin-left: 13px;
      color: #fff;
    }
  }
  &__dialog {
    img {
      margin-top: 7px;
    }
  }
}
