.card-lecture {
  &:not(:last-child) {
    margin: 0 0 26px 0;
  }
  display: flex;
  justify-content: space-between;
  gap: 14px;

  &__image{
    flex: 0 0 166px;
    height: 98px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
  }

  &__title{
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;

    margin: 0 0 15px 0;
  }
  &__date{
    font-weight: 400;
    font-size: 13px;
    margin: 0 0 8px 0;
    color: #919191;
  }
}
.reward{
  font-weight: 500;
  font-size: 13px;

  color: #909090;
  display: flex;
  gap: 7px;
  align-items: center;

  &__icon{
    width: 13px;
    height: 13px;
  }
  &__count{
    font-weight: 400;
  }
}